* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* INICIO XBOX */
#bodyxbox {
  background-color: rgb(15, 126, 5);
}

#bodyxbox a {
  text-decoration: none;
  color: rgb(253, 253, 253);
}

#bodyxbox h1 {
  text-align: center;
  font-family: "Monomaniac One", sans-serif;
  font-size: xx-large;
  -webkit-text-stroke: 1px rgb(50, 202, 62);
  color: rgb(0, 0, 0);
}

#bodyxbox ul li {
  display: inline-block;
  font-size: 20px;
  font-family: "Monomaniac One", sans-serif;
  text-align: center;
  margin-left: 310px;
  color: rgb(0, 0, 0);
}

#bodyxbox .top {
  position: relative;
}

#bodyxbox .imgheader {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
  z-index: -1;
}

#bodyxbox footer {
  background-color: rgb(141, 156, 156);
  text-align: justify;
  position: absolute;
  bottom: 0%;
  width: 100%;
}

#bodyxbox .container {
  position: relative;
  text-align: center;
  transform: translateY(0%);
}

#bodyxbox .texto-izq,
.texto-der {
  position: absolute;
  top: 50%;
  width: 100px;
  height: 20px;
  background-color: lightgray;
  text-align: center;
}

#bodyxbox .texto-izq {
  left: 0;
}

#bodyxbox .texto-der {
  right: 0;
}

#bodyxbox img {
  display: block;
  margin: 0 auto;
}

#bodyxbox .texto-abajo {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: 20px;
  background-color: lightgray;
  text-align: center;
  font-size: larger;
}

#bodyxbox .container button {
  width: 600px;
  height: 50px;
}

/* FIN XBOX */
/* INICIO PC */

#bodypc {
  background-color: rgb(57, 30, 78);
}

#bodypc a {
  text-decoration: none;
  color: rgb(253, 253, 253);
}

#bodypc h1 {
  text-align: center;
  font-family: "Monomaniac One", sans-serif;
  font-size: xx-large;
  -webkit-text-stroke: 1px rgb(208, 77, 248);
  color: rgb(0, 0, 0);
}

#bodypc ul li {
  display: inline-block;
  font-size: 20px;
  font-family: "Monomaniac One", sans-serif;
  text-align: center;
  margin-left: 310px;
  color: rgb(0, 0, 0);
}

#bodypc .top {
  position: relative;
}

#bodypc .imgheader {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
  z-index: -1;
}

#bodypc footer {
  background-color: rgb(141, 156, 156);
  text-align: justify;
  position: absolute;
  bottom: 0%;
  width: 100%;
}

#bodypc .container {
  position: relative;
  text-align: center;
  transform: translateY(9%);
}

#bodypc .texto-izq,
.texto-der {
  position: absolute;
  top: 50%;
  width: 100px;
  height: 20px;
  background-color: lightgray;
  text-align: center;
}

#bodypc .texto-izq {
  left: 0;
}

#bodypc .texto-der {
  right: 0;
}

#bodypc img {
  display: block;
  margin: 0 auto;
}

#bodypc .texto-abajo {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: 20px;
  background-color: lightgray;
  text-align: center;
  font-size: larger;
}

#bodypc .container button {
  width: 600px;
  height: 50px;
}
/* FIN PC */
/* INICIO PLAYSTATION */

#bodyps4 {
  background-color: rgb(12, 35, 99);
}

#bodyps4 a {
  text-decoration: none;
  color: rgb(252, 255, 252);
}

#bodyps4 h1 {
  text-align: center;
  font-family: "Monomaniac One", sans-serif;
  font-size: xx-large;
  -webkit-text-stroke: 1px rgb(85, 181, 245);
  color: rgb(0, 0, 0);
}

#bodyps4 ul li {
  display: inline-block;
  font-size: 20px;
  font-family: "Monomaniac One", sans-serif;
  text-align: center;
  margin-left: 310px;
  color: rgb(0, 0, 0);
}

#bodyps4 .top {
  position: relative;
}

#bodyps4 .imgheader {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
  z-index: -1;
}

#bodyps4 footer {
  background-color: rgb(141, 156, 156);
  text-align: justify;
  position: absolute;
  bottom: 0%;
  width: 100%;
}

#bodyps4 .container {
  position: relative;
  text-align: center;
  transform: translateY(0%);
}

#bodyps4 .texto-izq,
.texto-der {
  position: absolute;
  top: 50%;
  width: 100px;
  height: 20px;
  background-color: lightgray;
  text-align: center;
}

#bodyps4 .texto-izq {
  left: 0;
}

#bodyps4.texto-der {
  right: 0;
}

#bodyps4 img {
  display: block;
  margin: 0 auto;
}

#bodyps4 .texto-abajo {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: 20px;
  background-color: lightgray;
  text-align: center;
  font-size: larger;
}

#bodyps4 .container button {
  width: 600px;
  height: 50px;
}

/* FIN PLAYSTATION */
/* INICIO INDEX */

.carousel-item img {
  height: auto;
  max-width: 100%;
}

.carousel-inner {
  display: flex;
  align-items: center;
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
.carousel-item:not(.active) {
  display: none;
}

/* FIN INDEX */
