.d-flex.justify-content-between {
  justify-content: space-between !important;
}

.caja-oferta {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;

  h4 {
    font-size: 18px;
    margin-bottom: 15px;
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
}
