.navindex {
  background: rgb(38, 38, 38);
  background: linear-gradient(
    90deg,
    rgba(38, 38, 38, 1) 20%,
    rgba(41, 37, 37, 1) 25%,
    rgba(85, 8, 108, 1) 38%,
    rgba(165, 19, 217, 1) 100%
  );
}

.navcontact {
  background: rgb(38, 38, 38);
  background: linear-gradient(
    90deg,
    rgba(38, 38, 38, 1) 20%,
    rgba(41, 37, 37, 1) 25%,
    rgba(85, 8, 108, 1) 38%,
    rgba(165, 19, 217, 1) 100%
  );
}

.navps4 {
  background: rgb(38, 38, 38);
  background: linear-gradient(
    90deg,
    rgba(38, 38, 38, 1) 20%,
    rgba(41, 37, 37, 1) 25%,
    rgba(8, 37, 108, 1) 38%,
    rgba(34, 0, 255, 1) 100%
  );
}

.navxbox {
  background: rgb(38, 38, 38);
  background: linear-gradient(
    90deg,
    rgba(38, 38, 38, 1) 20%,
    rgba(41, 37, 37, 1) 25%,
    rgba(30, 108, 8, 1) 38%,
    rgba(44, 255, 0, 1) 100%
  );
}

.navpc {
  background: rgb(38, 38, 38);
  background: linear-gradient(
    90deg,
    rgba(38, 38, 38, 1) 20%,
    rgba(41, 37, 37, 1) 25%,
    rgba(108, 8, 8, 1) 43%,
    rgba(113, 8, 10, 1) 67%,
    rgba(255, 0, 56, 1) 100%
  );
}

.btn-outline-success {
  color: $color-boton;
  border-color: $color-borde;
}
.btn-outline-success:hover {
  background-color: $color-borde;
  color: $color-boton;
}
